.paginaInicial {
  position: absolute;
  top: 40%;
  left: 40%;
}
.titulo,
.botao,
.configuracoes {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2,
button {
  font-family: "Shadows Into Light";
}

h2 {
  font-size: 30px;
}

.div-geral {
  position: relative;
  border: 1px black solid;
  overflow: hidden;

}

.imagem {   
  object-fit: fill;
}

.imagem-direita { 
  max-height: 700;
  max-width: 300;
  position: static;
}

.norte,
.nordeste,
.sul,
.sudeste,
.norteDog,
.nordesteDog,
.sulDog,
.sudesteDog {
  position: absolute;
  height: auto;
  border-radius: 25px;
}

.norte {
  background-color: red;
  top: 240px;
  left: 210px;
  width: 25px;
  opacity: 0;
}

.nordeste {
  background-color: blue;
  top: 210px;
  left: 370px;
  width: 25px;
  opacity: 0;
}

.sul {
  background-color: black;
  top: 260px;
  left: 290px;
  width: 25px;
  opacity: 0;
}

.sudeste {
  background-color: green;
  top: 180px;
  left: 280px;
  width: 25px;
  opacity: 0;
}

.norteDog {
  background-color: red;
  top: 190px;
  left: 150px; 
  width: 25px;
  opacity: 0;
}

.nordesteDog {
  background-color: blue;
  top: 200px;
  left: 270px;
  width: 25px;
  opacity: 0;
}

.sulDog {
  background-color: black;
  top: 230px;
  left: 220px;
  width: 25px;
  opacity: 0;
}

.sudesteDog {
  background-color: green;
  top: 160px;
  left: 220px;
  width: 25px;
  opacity: 0;
}

.botoes {
  width: 100px;
  height: 50px;
  display: inline-block;
}

