.paginaInicial {
  position: absolute;
  top: 40%;
  left: 40%;
}
.titulo,
.botao,
.configuracoes {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1,
h2,
button {
  font-family: "Shadows Into Light";
}

h2 {
  font-size: 30px;
}

.div-geral {
  margin-top: -100;
  display: flex;
  align-items: center;
   /* Para ocupar a altura total da tela */
}

.lado-direito {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lado-esquerdo {  
  top: 100%;
  left: 100%; 
}

.imagem-container {
  position: relative;
  text-align: right; /* Alinha a imagem à direita */
  flex-shrink: 0; /* Evita que a imagem diminua de tamanho */
  margin-right: 10;
  margin-top: 10;
}

.imagem-container img {
  max-width: 96%; /* A imagem terá no máximo a largura do contêiner */
  max-height: 100%; /* A imagem terá no máximo a altura do contêiner */
}


#meuBotao {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.imagem {   
  object-fit: fill;
}

.imagem-direita { 
  height: 700;
  width: 300;
  position: static;
}

.hd,
.er,
.cc,
.hr {
  position: absolute; 
  border-radius: 55px; 
  opacity: 0.01;
  padding: 35px;
  transform: translate(-50%, -50%);
}

.hd {
  background-color: blue;
  top: 50%;
  left: 20%;
}

.er {
  background-color: black;
  top: 36%;
  left: 40%;
}

.cc {
  background-color: green; 
  left: 55%; 
  top: 53%; 
}

.hr {
  background-color: red; 
  top: 63%;
  left: 37%;
}

.botoes {
  width: 100px;
  height: 50px;
  display: inline-block;
}

