.paginaInicial {
  position: absolute;
  top: 40%;
  left: 40%;
}
.titulo,
.botao,
.configuracoes {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2,
button {
  font-family: "Shadows Into Light";
}

h2 {
  font-size: 30px;
}

.div-geral {
  position: relative;
  border: 1px black solid;
  overflow: hidden;

}

.imagem {   
  object-fit: fill;
}

.imagem-direita { 
  max-height: 700;
  max-width: 300;
  position: static;
}

.norte,
.oeste,
.leste,
.sul {
  position: absolute; 
  border-radius: 25px; 
  opacity: 0.6;
  width: 40px;
}

.norte {
  background-color: red; 
  margin-top: 90px; 
  left: 10%;
}

.oeste {
  background-color: blue;
  top: 260px;
  left: 230px; 
}

.leste {
  background-color: green;
  top: 180px;
  left: 280px; 
} 

.sul {
  background-color: black;
  top: 280px;
  left: 270px; 
}

.botoes {
  width: 100px;
  height: 50px;
  display: inline-block;
}

